<div class="jumbotron">
    <h1>Heroes of the Storm</h1>
    <p class="lead">Heroes of the Storm is a new Blizzard game which allows two teams of 5 iconic Blizzard characters to do battle on a variety of battlegrounds</p>
    <p>
        <a href="http://us.blizzard.com/en-us/" target="_blank" class="btn btn-primary btn-lg">View Website</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Players</h2>
        <p>
            Players Administration. Some available operations are:
            <ul>
                <li>@Html.ActionLink("List", "Index", "Players")</li>
                <li>@Html.ActionLink("Create", "Create", "Players")</li>
                <li>Edit</li>
                <li>List my heroes</li>
                <li>Buy hero</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Heroes</h2>
        <p>
            Heroes Administration. Some available operations are:
            <ul>
                <li>@Html.ActionLink("List", "Index", "Heroes")</li>
                <li>@Html.ActionLink("Create", "Create", "Heroes")</li>
                <li>Edit</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hero Types</h2>
        <p>
            Hero Type Administration. Some available operations are:
            <ul>
                <li>@Html.ActionLink("List", "Index", "HeroTypes")</li>
                <li>@Html.ActionLink("Create", "Create", "HeroTypes")</li>
                <li>Edit</li>
            </ul>
        </p>
    </div>
</div>
